body{
    background-image: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    background: red ;
    color: aqua;
    font-size: 30px;
    margin: 10px;
    padding: 2px;
    text-align: left;
    font-family: Verdana;
    display: inline-block;
}

a{
    display: block;
    color: rgb(255, 251, 251);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

