.nav-bar{
    text-decoration: none;
    padding: 10px;
    background: gray;
    color: black;

}
.nav-bar:hover{
    background: rgb(255, 253, 253);
}

nav{
    display: flex;
    justify-content:space-around;
}

@media (max-width: 300px) {
    nav{
        background: rgb(68, 64, 64);
        flex-direction: column;

    .nav-bar{
        margin: 10px 0px;
    }
    }
}